Repository olrandir/test_pr_labels, changes with the labels that .github/labeler.yml gives for each.
All labels: tagA, tagB, Documentation, CI

folderA update
  folderA/bar.js
Labels: tagA

update to latest labeler
  .github/workflows/label.yml
Labels: CI

update folderA
  folderA/foo.js
Labels: tagA

update folderB
  folderB/bar.js
Labels: tagB

update readme
  README.md
Labels: Documentation

.github/labeler.yml:

tagA:
  - changed-files:
    - any-glob-to-any-file: 'folderA/**'

tagB:
  - changed-files:
    - any-glob-to-any-file: 'folderB/**'

Documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

CI:
  - changed-files:
    - any-glob-to-any-file: '**/*.yml'
